@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-watcher {
  width: 100%;
  scale: .05 1;
}


@layer base {
  @font-face {
    font-family: "Poiret";
    src: url("src/fonts/Poiret_One/PoiretOne-Regular.ttf");
  }
  @font-face {
    font-family: "Aleo-Thin_Italic";
    src: url("src/fonts/Poiret_One/Aleo/static/Aleo-ExtraLightItalic.ttf");
  }
}